VIEDIT_PORT=8080
VIEDIT_DEFAULT_TEXT_ENCODING=shift_jis
VIEDIT_MAX_UPLOAD_BYTES=134217728
VIEDIT_MAX_ARCHIVE_FILES=4096
VIEDIT_MAX_XML_EDITOR_BYTES=8388608
VIEDIT_COMMAND_TIMEOUT_SECONDS=180
VIEDIT_JOB_TTL_SECONDS=86400
VIEDIT_PYLABVIEW_COMMAND=python -m pylabview.readRSRC
